*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.top{
    box-shadow: 5px 5px  cornflowerblue;
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    min-height:10rem;
}

.logo{   
    
    margin-top: 10px;
    text-align: center;
}

h1{
    color: rgba(7, 59, 99, 0.837);
    font-size: 35px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
}

ul{
    margin-top: 20px;
    text-align: center; 
}

ul li{     
    display: inline-flex;
}

ul li a{
    font-size: 26px;
    color: cornflowerblue;
    position: relative;
    margin: 0px;
    padding: 5px 25.53px;
    text-decoration: none;
}

li a:hover{
    transition-duration: 300ms;
    border-radius: 5px;
    color:white;
    background-color: black;
}

#iconbar{
    color:black;
    font-size: 2rem;
    position: absolute;
    top: 25px;
    right: 30px;
    visibility: hidden;
}

#iconbar:hover{
    color: red;
}

.responsive{
    width: 100%!important;
    height: 80vh!important;
    background-color: burlywood;
    position: relative;
}

.responsive ul li a{
    visibility: visible;
    opacity: 50;
    color: red; 
}

.content{
    min-height: 500px;
}

footer p{
    border: 1px solid black;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
}

.tag{
    color: red;
    top:62%;
    left:32%;
    font-size: 80px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position:absolute;
}

.tagline{
    position: absolute;
    color: white;
    top:75%;
    font-size: 30px;
    left:35%;
}

.link{
    position: absolute;
    top:83%;
    color: white;
    left: 46%;
    text-decoration: none;
    padding:10px;
    border-radius: 10px;
    background-color: red;
}

.link:hover{
    transition-duration: 200ms;
    color: red;
    border-radius: 10px;
    background-color: white;
}


/* Media Queries */

/* Big landscape */
@media(max-width: 1200px){

}

/* Tablet Landscape */

@media (max-width: 990px){
    #icons2 ul{
        opacity: 0;
        visibility: hidden;
    }
    #iconbar{
        opacity: 1;
        visibility: visible;
    }
}

/* Portrait tablet */
@media (max-width:800px ){

}


/* Smartphone , Tablets */
@media (max-width:600px ){

}
/* Smartphone */
@media (min-width:480px ){

}